


<div class=".container-fluid">


  <div class="row">
    <div class="col-md-12">

    </div>

  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <p>
        <label for="username">Username</label>
        <input id="username" class="form-control" ng-model="$ctrl.loginDetails.username"/>
      </p>
      <p>

        <label for="password">Password</label>
        <input id="password" class="form-control" ng-model="$ctrl.loginDetails.password"/>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-2">
      <p>
        <button class="btn btn-default btn-block">
          Sign in
        </button>
      </p>

    </div>
    <div class="col-md-2">
      <button class="btn btn-block btn-social btn-google" ng-click="$ctrl.login()">
        <i class="fa fa-google"></i>
        Sign in with Google
      </button>
    </div>
    <div class="col-md-4">

    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <button class="btn btn-default btn-block">Register</button>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4"></div>


  </div>


</div>

